<section class="bg-black text-white mb-20">
  <div class="ml-10 mr-10 md:ml-20">
    <h2 class="font-bold text-2xl py-5">SOBRE NOSOTROS</h2>
    <div class="md:w-2/3 pb-5">
      <p class="font-semibold mb-5">
        Somos un equipo de abogados con sede en Argentina, dedicados a brindar
        asesoramiento legal experto y representación en una amplia gama de áreas
        legales. Nuestra pasión por la justicia y el compromiso con nuestros
        clientes nos distingue en el mundo legal.
      </p>
      <p class="font-semibold pb-5">
        Con una sólida reputación por nuestra ética de trabajo y resultados
        exitosos, estamos comprometidos a defender los intereses de nuestros
        clientes con integridad y profesionalismo. Confíe en nosotros para
        brindarle el apoyo legal que necesita con un enfoque personalizado y
        eficiente.
      </p>
    </div>
  </div>
</section>
