<section class="bg-black text-white mb-20">
  <div class="text-center w-11/12 md:w-2/4 mx-auto text-lg py-5">
    <p>
      Nuestro equipo de abogados en Argentina está comprometido a brindar
      asesoramiento legal experto y soluciones efectivas para nuestros clientes.
      Con una amplia experiencia en diversas áreas del derecho, estamos
      preparados para defender y proteger los intereses de aquellos que confían
      en nosotros. Ya sea que necesite asesoramiento en derecho comercial,
      laboral, civil o penal, nuestro equipo está listo para ayudarlo a navegar
      por el complejo sistema legal argentino. Confíe en nosotros para
      representar sus intereses con integridad y profesionalismo.
    </p>
  </div>
</section>
