<section class="mb-20 sm:w-11/12 lg:w-2/3 mx-auto">
  <h2 class="font-bold text-black text-2xl text-center mb-10">TESTIMONIOS</h2>
  <swiper-container
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    space-between="30"
    centered-slides="true"
  >
    <swiper-slide class="mb-20 px-20">
      <div>
        <p>
          Gracias al equipo legal, recibí una compensación justa por mi
          accidente de tráfico. Su profesionalismo y orientación me dieron
          confianza en cada paso del proceso. ¡Los recomiendo altamente!
        </p>
        <p class="font-semibold">María L. - Caso de Accidente de Tráfico</p>
      </div></swiper-slide
    >
    <swiper-slide>
      <div>
        <p>
          Enfrentar un problema laboral es desafiante, pero estos abogados
          hicieron toda la diferencia. Su conocimiento y habilidad para abogar
          por mis derechos resultaron en una resolución exitosa. Los recomiendo
          ampliamente.
        </p>
        <p class="font-semibold">Javier S. - Caso Laboral</p>
      </div></swiper-slide
    >
    <swiper-slide>
      <div>
        <p>
          Contratar a este despacho para mi divorcio fue la mejor decisión. Su
          enfoque respetuoso y soluciones amigables hicieron el proceso mucho
          más fácil. Recomiendo sus servicios sin dudar.
        </p>
        <p class="font-semibold">Carlos M. - Divorcio Amigable</p>
      </div></swiper-slide
    >
    <swiper-slide>
      <div>
        <p>
          La asesoría legal para la planificación patrimonial de mi familia fue
          excepcional. Este equipo demostró entendimiento y paciencia,
          brindándonos tranquilidad sobre nuestro futuro financiero. ¡Altamente
          recomendados!
        </p>
        <p class="font-semibold">Ana P. - Planificación Patrimonial</p>
      </div></swiper-slide
    >
  </swiper-container>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
